.accessoriesBanner{
    width :auto;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-top: 50px;
    margin-bottom: 20px;
    background: linear-gradient(180deg, #c7c7c7 0%, #b3ffca22 60%);
}

.accessories-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accessories-left h1{
    color: #171717;
    font-size: 55px;
    font-weight: 600;
}

.accessories-left p{
    color: #171717;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.accessories-left button{
    width: 222px;
    height: 60px;
    border-radius: 35px;
    background: rgb(47, 44, 44);
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor:  pointer;
}

.accessories-left .accessories{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.accessories-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.accessories-right img{
    height: 70vh;
}

@media(max-width: 768px){
    .offers{
        display: none;
    }


}