.manBanner{
    width :auto;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 100px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #fca4a8 0%, #78787822 60%);
}

.manbanner-right{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manbanner-right h1{
    color: #171717;
    font-size: 55px;
    font-weight: 600;
}

.manbanner-right p{
    color: #171717;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.manbanner-right button{
    width: 222px;
    height: 60px;
    border-radius: 35px;
    background: rgb(47, 44, 44);
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor:  pointer;
}

.manbanner-left{
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: flex-start;

}

.manbanner-left img{
    height: 70vh;
}

@media(max-width: 768px){
    .manBanner{
        display: none;
    }
}