.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navLogo .loGo{
    text-decoration: none;
}
.navLogo p {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navLogo p:hover {
    color: #ff4a57;
}


.navLinks {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navLinks li {
    
    position: relative;
}

.navLinks a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    color: black;
    transition: color 0.3s ease;
}

.navLinks a:hover {
    color: #ff4a57;
}


.navLinks li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ff4a57;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.navLinks li:hover::after {
    width: 100%;
}


.navLogincart {
    display: flex;
    align-items: center;
   margin-right: 60px;
    gap: 20px;
}

.navIcons {
    font-size: 1.8rem;
    color: #444;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}


.listDropdown{
    position: absolute;
    top: 55px;
    border: 1px solid rgb(242, 242, 242);
    right: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    min-width: 150px;
    z-index: 1000;
}

.listDropdown ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.listDropdown ul li{
    padding: 10px;
    cursor: pointer;
}

.listDropdown ul li:hover{
    background-color: #f0f0f0;
} 

.navIcons:hover {
    color: #ff4a57;
    transform: scale(1.1);
}
.navCartCount {
    background: #ff4a57;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 90px;
}


.menuIcon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    }

    .navLinks.open {
        display: flex;
    }

    .menuIcon {
        display: block;
    }
}