.newCollections{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 80px;
    height: auto;
    margin-bottom: 80px;
    padding: 20px;

}

.newCollections h1{
    color: #171717;
    font-size: 22px;
    font-weight: 700;
    
}

.newCollections hr{
    width: 100%;
    max-width: 210px;
    height: 3px;
    border-radius: 10px;
    background-color: #252525;
    border: none;
}

.collections{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    width: 100%;
}

@media (max-width: 768px) {
    .newCollections {
        align-items: center;
        text-align: center;
        margin: 50px auto;
    }

    .newCollections h1 {
        font-size: 18px;
    }

    .newCollections hr {
        width: 70%;
    }

    .collections {
        justify-content: center;
        gap: 10px;
    }
}